@charset "utf-8";

/* CSS Document */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}

body {
	margin: 0;
	position: relative;
  background-color: #555;
}

ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: #3397db;
	text-decoration: none;
}

*:focus {
  outline-color: #f18200;
}

a img {
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h6 {
  display: none;
}

section {
  width: 100%;
  z-index: 2;
}

#skipLink a {
  position: absolute;
  top: -40px;
  left: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  color: #fff;
  background-color: darkred;
  border: 1px solid #fff;
  z-index: 1000;
  transition: 300ms ease;
}

#skipLink a:focus {
  top: -1px;
  left: 5px;
}

#maincontent {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto 0;
}

.inside #maincontent {
  margin: 131px auto 0;
}

#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Navigation ====================== */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #252831;
  box-shadow: 0px 0px 1px #555;
  z-index: 1000;
}

nav {
  display: grid;
  height: auto;
  text-align: center;
}

nav h1 {
  display: grid;
  align-items: center;
  height: 80px;
  margin: 0 auto;
}

nav h1 a {
  color: #fff;
  font-size: 10pt;
  font-weight: 200;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  text-align: left;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  padding: 5px;
  color: #0067cc;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* ====================== Map ====================== */

#map-container {
  width: 100%;
  position: fixed;
  z-index: 1;
}

#map {
  height: 200px;
  width: 100%;
  max-width: 1960px;
  background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */

#filter-options {
  width: 100%;
  margin: 200px 0 0;
  padding: 5px;
  background-color: #0072a4;
  grid-area: filter;
  position: relative;
}

#filter-options .skippedTo {
  position: absolute;
  left: 0;
  top: -80px;
}

#filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px;
  padding: 10px 0 0;
}

#filter-options select {
  background-color: white;
  border: 1px solid #777;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px 5px;
  padding: 0 10px;
  width: 94%;
  max-width: 174px;
}

#filter-options select:focus {
  color: #ddd;
  background-color: #111;
}

/* ====================== Restaurant Listing ====================== */

#restaurants {
  background-color: #555;
}

#restaurants-list {
  width: 100%;
  max-width: 970px;
  list-style: outside none none;
  margin: 0 auto;
  padding: 30px 1px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #111;
  font-family: Arial,sans-serif;
  margin: 5px;
  text-align: left;
  max-width: 300px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid #444;
  box-shadow: 2px 2px 10px #333;
}

#restaurants-list li:hover {
  cursor: pointer;
  border: 1px solid #18aff0;
  transition: 300ms ease;
}

#restaurants-list li:focus,
#restaurants-list li:active {
  border: 1px solid darkorange;
  transition: 300ms ease;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h2 {
  width: 100%;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
}

#restaurants-list li h2::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  margin: 15px auto 0;
  box-shadow: inset 0px 0px 10px #000;
}

#restaurants-list p {
  margin: 0;
  padding: 1px 15px;
  font-size: 11pt;
  width: 100%;
  color: #ddd;
}

#restaurants-list button {
  background-color: #111;
  color: #18aff0;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 8px;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  align-self: flex-end;
  border: 1px solid transparent;
}

#restaurants-list button:hover {
  color: #fff;
  border: 1px solid #18aff0;
  transition: 300ms ease;
  cursor: pointer;
}

#restaurants-list button:focus {
  color: #18aff0;
  border: 1px solid darkorange;
  transition: 300ms ease;
}

#restaurants-list button:active {
  color: #fff;
  border: 1px solid darkorange;
  text-decoration: underline;
}


/* ====================== Restaurant Details ====================== */

#restaurant-container {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  align-items: baseline;
  margin-top: 200px;
  padding: 15px;
  background-color: #111;
  position: relative;
}

#restaurant-container .skippedTo {
  position: absolute;
  left: 0;
  top: -131px;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
  max-width: 300px;
  margin: 15px 0 75px 0;
}

#restaurant-cuisine,
.inside #neighborhood {
  color: #ddd;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0;
  padding: 5px 5px 5px 7px;
  text-align: center;
  justify-self: baseline;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0072a4;
  border: 1px solid #000;
  box-shadow: 4px 4px 10px #000;
}

.inside #neighborhood {
  background-color: #811411;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

#restaurant-address {
  margin: 15px 0 0;
  font-size: 12pt;
  color: #eee;
}

#restaurant-hours {
  margin: 0 0 15px;
}

#restaurant-hours td {
  color: #999;
  vertical-align: baseline;
}

#restaurant-hours td:first-child {
  padding: 1px 10px 1px 0;
}

#reviews-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #555;
}

#reviews-container h3 {
  width: 100%;
  /*max-width: 687px;*/
  max-width: 750px;
  margin: 0 auto;
  padding: 0 15px;
  color: #ff8a00;
  font-size: 24pt;
  font-weight: 300;
}

#reviews-list {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
}

#reviews-list li {
  list-style-type: none;
  margin: 2% 2% 20px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #333;
  display: grid;
  grid-template: auto / auto;
  grid-gap: 0;
}

#reviews-list h4 {
  margin: 2px 0;
  font-weight: normal;
}

#reviews-list li p {
  margin: 0;
  padding: 3px;
}

#reviews-list .name {
  font-size: 14pt;
  color: #333;
}

#reviews-list .date {
  font-size: 10pt;
  color: #696969;
}

#reviews-list .rating {
  margin: 5px 0 0;
  font-size: 10pt;
  color: #696969;
}

.rating span {
  margin-left: 5px;
  font-size: 17pt;
  color: #0070dd;
  font-weight: bold;
}

#reviews-list .comment {
  font-size: 12pt;
  margin: 15px 0 0;
}


/* ====================== Responsive ====================== */
@media (min-width: 300px) {
  #filter-options select {
    width: 46%;
  }

  #restaurants-list li {
    margin: 10px;
  }
}


@media (min-width: 400px) {
  nav h1 a {
    font-size: 12pt;
    letter-spacing: 8px;
  }
}


@media (min-width: 500px) {
  nav h1 a {
    font-size: 14pt;
    letter-spacing: 10px;
  }

  #reviews-list li {
    grid-template: auto / 130px auto;
    grid-gap: 0;
  }

  #reviews-list .comment {
    font-size: 12pt;
    grid-row: 1 / 5;
    grid-column: 2;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #map {
    height: 300px;
  }

  .inside #map {
    height: 200px;
  }

  #filter-options {
    margin: 300px 0 0;
  }

  .inside #restaurant-container {
    grid-template-columns: 300px auto;
    padding: 30px;
  }

  .inside #restaurant-name {
    grid-column: span 2;
  }

  .inside #restaurant-img {
    grid-row: span 2;
    align-self: normal;
    margin-bottom: 0;
  }

  .inside #restaurant-cuisine {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .inside #neighborhood {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: baseline;
    margin-left: 15px;
  }

  .inside #restaurant-address {
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: baseline;
    padding: 0 0 0 15px;
  }

  .inside #restaurant-hours {
    grid-column-start: 2;
    grid-row-start: 4;
    margin: 0;
    padding: 15px;
  }

  #reviews-container {
    padding: 30px;
  }
}

@media (min-width: 2000px) {
  #maincontent {
    max-width: 2000px;
    padding: 20px;
  }
}



